<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="shop" routerLink="/shop/{{shop._id}}/categories">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="shop && category" ngDefaultControl [(ngModel)]="title">{{ shop.name }} / {{ category.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let product of products">

      <ion-item color="light">
        <ion-text slot="start">{{ product.title }}</ion-text>
        <ion-text slot="end">{{ product.quantity }}</ion-text>
      </ion-item>

      <ion-item-options side="end">
        <ion-button (click)="editProduct(product)" color="secondary">Edit</ion-button>
        <ion-button (click)="delete(product._id)" color="danger">Delete</ion-button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addProduct()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>>
